body {
    width: 75%;
   margin: 0 auto; 

   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

#cuteBurger {
    display: block;
   margin: auto;
}

h1 {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 65px;
    margin: 50px;
}

.bun {
    height: 165px;
}

.burgerAvailable {
    font-family: "Arial", serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: white;

    border-radius: 25px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: #4e3a04;
}

.burgerAvailable:hover {
    border-color: #FFC04C;
}

.burgerEaten {
    font-family: "Arial", serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    background-color: #4abd4a;
}

h2 {
    text-align: center;
    font-family: "Arial", serif;
    font-size: 40px;
    margin: 50px;
}

.formContainer {
    background-color: orange;
}

.addBurgerButton {
    font-family: "Arial", serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 25px;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: rgb(187, 37, 11);
}

.addBurgerButton:hover {
    border-color: #FFC04C;
}

input {
    width: 100%;
}

.burgerFooter {
   padding: 20px 0;
}